.gradient-text-our-client {
    background: linear-gradient(90deg, #435CFF 0%, #834EFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gradient-text-our-client {
    background: linear-gradient(90deg, #435CFF 0%, #834EFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
